name: Docker Build and Push

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag:
          - latest
          - alpine
          - golang
    env:
      IMAGE: "ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        if: github.event_name == 'push'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        id: metadata
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
          tags: |
            type=raw,value=${{ matrix.tag }}
            ${{ matrix.tag == 'latest' && 'type=sha,prefix=,suffix=,format=short' || format('type=sha,prefix={0}-', matrix.tag) }}
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: ${{ github.event_name == 'push' }}
          target: tag-${{ matrix.tag }}
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          cache-from: type=gha,scope=build-${{ matrix.tag }}
          cache-to: type=gha,mode=max,scope=build-${{ matrix.tag }}
