name: Docker Build and Push

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag:
          - latest
          - alpine
          - golang
    env:
      IMAGE: "ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}"
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        if: github.event_name == 'push'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - uses: docker/metadata-action@v5
        id: metadata
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
          tags: |
            type=raw,value=${{ matrix.tag }}
            type=sha,prefix=,suffix=,format=short
      - uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name == 'push' }}
          target: tag-${{ matrix.tag }}
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
